* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .list {
        width: 60%;
        min-height: 10px;
    }

    .add_block {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: crimson;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
        user-select: none;
    }

    h1 {
        opacity: 0.4;
    }

}

.add_block:hover {
    background-color: rgb(211, 19, 57);
}

.add_block:active {
    background-color: rgb(187, 15, 50);
}